.players-container {
    align-items: center;
    @include breakpoint(desktop) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.side-buttons {
    display: flex;
    justify-content: center;
    margin: 5px;
    @include breakpoint(desktop) {
        flex-direction: column;
    }
}

.users-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include breakpoint(desktop) {
        align-items: center;
        width: 57%;
        height: 202px;
    }
}

.button-margin {
    margin: 5px;
}