.players-container {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-button {
    margin: 5px;
    display: flex;
    order: 1;
    flex-direction: column;
}

.users-cards {
    order: 2;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
