{
  "parser": "babel-eslint",
  "plugins": ["flowtype", "react"],
  "extends": ["plugin:flowtype/recommended", "airbnb"],
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
